// Breakpoints

$bp-small: 375px;
$bp-medium: 768px;
$bp-large: 1000px;
$bp-xlarge: 1200px;

// Grid Gaps/Gutter

$section-gutter: 4.0625em;
$grid__gap: 16px;

// Colors 

$color-teal: #00838E;
$color-dark-teal: #003941;
$color-green: #00AA6D;
$color-fuschia: #FF004A;
$color-light-grey: #ECECEC;
$color-brand-black: #171717;