/* Main SCSS File */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 40px;
  line-height: 1.2em; }

h2 {
  font-size: 36px;
  line-height: 1.2em; }

h3 {
  font-size: 32px;
  line-height: 1.2em; }

h4 {
  font-size: 28px;
  line-height: 1.2em; }

h5 {
  font-size: 24px;
  line-height: 1.2em; }

h6 {
  font-size: 20px;
  line-height: 1.2em; }

h1,
h2,
h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 300; }

h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: Normal; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

p::before {
  content: "";
  position: absolute;
  width: 10%;
  background-color: white;
  border-top: 3px solid white; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 90px;
    line-height: 1.2em; }
  h2 {
    font-size: 76px;
    line-height: 1.2em; }
  h3 {
    font-size: 62px;
    line-height: 1.2em; }
  h4 {
    font-size: 48px;
    line-height: 1.2em; }
  h5 {
    font-size: 34px;
    line-height: 1.2em; }
  h6 {
    font-size: 20px;
    line-height: 1.2em; } }

.button {
  height: 2.75em; }

.button--pink {
  background-color: #FF004A;
  color: white; }

.wrapper {
  max-width: 1300px;
  margin: auto 16px; }

.intro {
  background: linear-gradient(#003941, #00838E);
  height: 100vh;
  color: white; }
